body {
  background-color: lightgray;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding-top: 1rem;
}

.iconsContainer {
  display: flex;
  padding-top: 0.5rem;
  gap: 1rem;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}